html {
  scroll-behavior: smooth;
}

body {
  background: #E1D4C9;
  font-family: "Inter", sans-serif;
  color: #403F3D;
}

a {
  text-decoration: none;
  color: #403F3D;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  padding-top: 18px;
  margin-bottom: 20px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 12px;
}
.header-item {
  position: relative;
}
.header-item::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -1;
  height: 2px;
  transition: all 0.2s;
  background: #403F3D;
  opacity: 0;
}
.header-item:hover::after {
  opacity: 1;
  transition: all 0.2s;
}
.header-link {
  color: #403F3D;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
.header-item + .header-item {
  margin-left: 40px;
}
.header-menu__btn {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
  padding: 4px 26px 4px 0;
}
.header-menu__btn::before {
  position: absolute;
  content: "";
  background-image: url(../images/svg/coffee-cup.svg);
  right: 0;
  top: 4px;
  width: 20px;
  height: 20px;
}
.header-menu__mobile {
  display: none;
}
.header-burger {
  display: none;
  width: 44px;
  height: 44px;
  background-color: transparent;
}
.header-bottom {
  border-radius: 40px;
  width: 100%;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-bottom__box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 100px 120px;
}
.header-bottom__title {
  font-size: 42px;
  font-weight: 600;
  line-height: 115%;
  font-size: 72px;
  color: #E1D4C9;
  max-width: 530px;
  width: 100%;
  margin-bottom: 40px;
  line-height: 105%;
}
.header-bottom__title span {
  font-style: italic;
  color: #B0907A;
}
.header-bottom__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #E1D4C9;
  max-width: 530px;
  width: 100%;
  margin-bottom: 60px;
}
.header-bottom__btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  background-color: #E1D4C9;
  color: #403F3D;
  padding: 20px 78px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100px;
}
.header-bottom__btn::before {
  position: absolute;
  content: "";
  background-image: url(../images/svg/coffee-cup.svg);
  right: 50px;
  top: 50%;
  width: 20px;
  transform: translateY(-50%);
  height: 20px;
  opacity: 0;
}
.header-bottom__btn:hover {
  position: relative;
  transition: all 0.4s;
}
.header-bottom__btn:hover::before {
  opacity: 1;
  transition: all 0.4s;
}

.main {
  margin-bottom: 100px;
}

.underline-hover {
  position: relative;
}
.underline-hover::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  transition: all 0.2s;
  background: #403F3D;
  opacity: 0;
}
.underline-hover:hover::after {
  opacity: 1;
  transition: all 0.2s;
}

.underline-active {
  position: relative;
  padding-bottom: 4px;
  padding-top: 4px;
}
.underline-active::after {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  transition: all 0.2s;
  background: #403F3D;
  opacity: 1;
}

.slider {
  margin-top: 100px;
  margin-bottom: 100px;
}
.slider-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}
.slider-title span {
  font-style: italic;
  color: #B0907A;
}
.slider-wramper {
  display: flex;
  flex-direction: column;
}
.slider-dots {
  margin: 0 auto;
  order: 1;
  display: flex;
}
.slider-dots__input {
  height: 0;
  width: 0;
  overflow: hidden;
}
.slider-dots__label {
  display: flex;
  align-items: center;
}
.slider-dots__label + .slider-dots__label {
  margin-left: 12px;
}
.slider-dots__label span {
  display: block;
  padding: 1em;
  cursor: pointer;
}
.slider-dots__input + label {
  background-color: #C1B6AD;
  width: 40px;
  height: 4px;
  border-radius: 100px;
}
.slider-dots__input:checked + label {
  background-color: #665F55;
}
.slider-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.slider-inner {
  max-width: 1152px;
  width: 100%;
  min-width: 348px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slider-descr {
  color: #403F3D;
  max-width: 480px;
  width: 100%;
}
.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 480px;
  min-width: 100%;
  transition: all 0.3s;
}
.slider-item__img {
  display: block;
  width: 100%;
  max-width: 480px;
  margin-bottom: 20px;
}
.slider-item__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 16px;
  text-align: center;
}
.slider-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;
  text-align: center;
}
.slider-item__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
}

.slider-dots:has(#slider1:checked) ~ .slider-box > .slider-inner > .slider-item {
  transform: translateX(0);
}

.slider-dots:has(#slider2:checked) ~ .slider-box > .slider-inner > .slider-item {
  transform: translateX(-100%);
}

.slider-dots:has(#slider3:checked) ~ .slider-box > .slider-inner > .slider-item {
  transform: translateX(-200%);
}

.arrow {
  padding: 18px;
  border: 1px solid #665F55;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}
.arrow-right {
  transform: rotate(180deg);
}
.arrow svg {
  display: block;
}
.arrow:hover {
  transition: all 0.3s;
  background: #403F3D;
}
.arrow:hover svg path {
  stroke: #fff;
  transition: all 0.3s;
}

.gallery {
  margin-bottom: 60px;
}
.gallery-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  font-size: 60px;
  color: #403F3D;
  margin-bottom: 40px;
}
.gallery-title span {
  font-style: italic;
  color: #B0907A;
}
.gallery-box {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.gallery__item {
  max-width: 660px;
  border-radius: 20px;
  margin-bottom: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.gallery__item-img {
  display: block;
  min-width: calc(100% + 40px);
}
.gallery__item:hover .gallery__item-box {
  transform: scale(0.9);
  transition: all 0.3s;
}
.gallery__item-max {
  height: 590px;
}
.gallery__item-min {
  height: 430px;
}

.apps {
  margin-bottom: 95px;
}
.apps-wramper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apps-item {
  max-width: 630px;
  width: 100%;
}
.apps-item__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  font-size: 60px;
  color: #403F3D;
  margin-bottom: 40px;
}
.apps-item__title span {
  font-style: italic;
  color: #B0907A;
}
.apps-item__image {
  width: 100%;
}
.apps-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}
.apps-download {
  display: flex;
}
.apps-download__btn {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  padding: 12px 20px;
  border: 1px solid #665F55;
  background: transparent;
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: all 0.3s;
}
.apps-download__btn svg {
  margin-right: 2px;
}
.apps-download__btn-text {
  color: #403F3D;
  font-size: 10px;
  padding-left: 5px;
  padding-bottom: 4px;
  padding-top: 0;
}
.apps-download__btn-text span {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}
.apps-download__btn:hover {
  background: #665F55;
  transition: all 0.3s;
}
.apps-download__btn:hover p {
  color: #E1D4C9;
}
.apps-download__btn:hover svg path {
  fill: #E1D4C9;
}

.footer {
  margin-bottom: 40px;
}
.footer-wramper {
  border-radius: 40px;
  background: #665F55;
  display: flex;
  max-width: 1360px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}
.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}
.footer-social__list {
  display: flex;
  margin: 0;
}
.footer-social__item + .footer-social__item {
  margin-left: 10px;
}
.footer-social__img {
  padding: 18px;
  border: 1px solid #C1B6AD;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer-social__img svg {
  display: block;
}
.footer-social__img:hover {
  background-color: #E1D4C9;
  transition: all 0.3s;
}
.footer-social__img:hover svg path {
  stroke: #403F3D;
  transition: all 0.3s;
}
.footer-social__text {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  font-size: 60px;
  color: #E1D4C9;
}
.footer-social__text span {
  font-style: italic;
  color: #B0907A;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  margin-top: 10px;
}
.footer-contact__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  font-size: 24px;
  color: #E1D4C9;
  margin-bottom: 40px;
}
.footer-contact__item {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #E1D4C9;
  padding-left: 28px;
  padding-bottom: 2px;
  position: relative;
}
.footer-contact__item::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
}
.footer-contact__item::before {
  display: block;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  transition: all 0.2s;
  background: #E1D4C9;
  opacity: 0;
}
.footer-contact__item:hover::before {
  transition: all 0.2s;
  opacity: 1;
}
.footer-contact__item + .footer-contact__item {
  margin-top: 18px;
}
.footer-contact__work-day {
  cursor: pointer;
}
.footer-contact__address::after {
  background: url(../images/svg/pin-alt.svg);
}
.footer-contact__tel::after {
  background: url(../images/svg/phone.svg);
}
.footer-contact__work-day::after {
  background: url(../images/svg/clock.svg);
}

.menu {
  margin-bottom: 100px;
}
.menu-offer {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
  font-size: 60px;
  color: #403F3D;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 800px;
}
.menu-offer span {
  font-style: italic;
  color: #B0907A;
}
.menu-tabs {
  margin-bottom: 40px;
}
.menu-tabs__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-tabs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  padding: 8px 16px 8px 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.menu-tabs__item-text {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-tabs__item:hover {
  border-color: #665F55;
  background-color: #665F55;
  color: #E1D4C9;
  transition: all 0.3s;
}
.menu-tabs__item:hover .menu-tabs__item-text {
  color: #E1D4C9;
  transition: all 0.3s;
}
.menu-tabs__item.active {
  border-color: #665F55;
  background-color: #665F55;
}
.menu-tabs__item.active .menu-tabs__item-text {
  color: #E1D4C9;
}
.menu-tabs__image {
  background-color: #C1B6AD;
  border: 1px solid #C1B6AD;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.menu-tabs__image-img {
  display: block;
}
.menu-tabs__item + .menu-tabs__item {
  margin-left: 16px;
}
.menu-grid {
  margin-bottom: 40px;
}
.menu-grid__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  border-radius: 40px;
}
.menu-grid__item {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  width: 310px;
  color: #403F3D;
  cursor: pointer;
}
.menu-grid__item:hover .menu-grid__box {
  transform: scale(1);
  transition: all 0.3s;
}
.menu-grid__wramper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  overflow: hidden;
  height: 310px;
}
.menu-grid__box {
  transition: all 0.3s;
  transform: scale(1.1);
}
.menu-grid__img {
  display: block;
}
.menu-grid__descr {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.menu-grid__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-bottom: 12px;
  line-height: 125%;
}
.menu-grid__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  height: 72px;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 10px;
}
.menu-grid__price {
  margin: 0;
}
.menu-refresh {
  display: none;
  margin: 0 auto;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}
.menu-refresh__img {
  width: 60px;
  height: 60px;
}

@media (max-width: 1180px) {
  .apps-wramper {
    flex-direction: column;
  }
  .apps-item + .apps-item {
    margin-top: 100px;
    max-width: 630px;
    display: flex;
    justify-content: center;
  }
  .apps-item + .apps-item__image {
    display: block;
  }
  .apps-item {
    max-width: 100%;
  }
  .apps-download__btn-text {
    padding-top: 8px;
  }
  .apps-download__btn-text span {
    display: block;
    margin-top: 4px;
  }
  .menu-grid {
    height: 1052px;
    overflow: hidden;
  }
  .menu-refresh {
    display: flex;
  }
  .footer-contact__work-day {
    margin-bottom: 0;
  }
}
@media (max-width: 850px) {
  .gallery-box {
    -moz-column-count: 1;
         column-count: 1;
    gap: 0;
  }
  .gallery__item {
    max-width: 100%;
  }
  .gallery__item-min {
    display: none;
  }
  .footer-wramper {
    padding: 100px 60px;
    display: block;
  }
  .footer-social {
    gap: 35px;
  }
  .footer-contact {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .header-wramper {
    position: absolute;
    top: 100px;
    bottom: 1024px;
    left: 0;
    right: 0;
  }
  .header-nav {
    text-align: center;
    transform: translateY(-200%);
  }
  .header-list {
    display: flex;
    flex-direction: column;
    margin: 60px 40px 100px;
  }
  .header-link, .header-menu__btn {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }
  .header-menu__btn {
    padding: 0 56px 0 0;
  }
  .header-menu__btn::before {
    width: 40px;
    height: 40px;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .header-item + .header-item {
    margin-left: 0;
    margin-top: 60px;
  }
  .header-menu__mobile {
    display: block;
  }
  .header-menu__desktop {
    display: none;
  }
  .header-burger {
    display: block;
  }
  .header-bottom__box {
    padding-left: 60px;
  }
}
@media (max-width: 740px) {
  .container {
    padding: 0 16px;
  }
  .header-bottom__title {
    font-size: 42px;
    line-height: 115%;
  }
  .header-bottom__text {
    margin-bottom: 40px;
  }
  .header-bottom__btn {
    display: inline-block;
  }
  .menu-grid {
    height: 2144px;
  }
  .arrow {
    display: none;
  }
  .slider-item {
    min-width: 100%;
  }
}
@media (max-width: 500px) {
  .header-bottom__box {
    padding: 60px 16px;
  }
  .slider-title {
    font-size: 32px;
  }
  .gallery-title {
    font-size: 32px;
  }
  .apps-item + .apps-item {
    margin-top: 40px;
  }
  .apps-item__title {
    font-size: 32px;
  }
  .apps-download {
    display: block;
  }
  .apps-download__apple {
    margin-bottom: 20px;
  }
  .apps-download__link {
    display: block;
  }
  .apps-download-link + .apps-download-link {
    margin-top: 20px;
  }
  .menu-offer {
    font-size: 32px;
  }
  .menu-tabs__item + .menu-tabs__item {
    margin-left: 8px;
  }
  .footer-wramper {
    padding: 60px 16px;
  }
  .footer-contact {
    margin-top: 40px;
  }
  .footer-social__text {
    font-size: 32px;
  }
  .footer-social__text br {
    display: none;
  }
}
@media (max-width: 380px) {
  .footer-social {
    min-width: 100%;
  }
  .footer-social__text {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */